:root {
  --bg-primary: #fff;
  --bg-secondary: #f5f6fa;

  --color-primary: #713bdb;
  --color-primary-darker: #642ad6;
  --color-secondary: #dc0073;
  --color-border: #ccc;
  --color-warning: #fef3c7;
  --color-error: #ffadbb;

  --text-color-primary: #181818;
  --text-color-secondary: #fff;
  --text-color-warning: #f59e0b;
  --text-color-error: #ff1f40;

  --radius-normal: 8px;
  --radius-small: 4px;
}

body {
  font-family: 'Poppins', sans-serif;
  background-color: var(--bg-secondary);

}

input,
button,
textarea,
select,
option {
  font-family: 'Poppins', sans-serif;
}

.root {
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.navigate {
  width: 100%;
  margin-top: 1em;
  font-size: 1.4em;
  padding: 1em 0 0.5em 0;
}

.navigate a {
  width: 100%;
  display: flex;
  align-items: center;
}

.navigate a > span {
  color: var(--text-color-primary);
  font-weight: 400;
  pointer-events: none;
}

.navigate a > i {
  margin-right: 0.5em;
  color: var(--color-primary);
  pointer-events: none;
}

.login-container {
  max-width: max-content;
  padding: 1.3em;
  background-color: var(--bg-primary);
  border-radius: var(--radius-small);
  box-shadow: 0 8px 10px -8px rgba(0, 0, 0, 0.5), 
    0 2px 5px 0 rgba(0, 0, 0, 0.05);
  z-index: 1;
  position: relative;
  transition: all 200ms linear; 
}

.logged-container {
  display: flex;
  column-gap: 20px;
}

.login-content {
  max-width: max-content;
  min-width: 700px;
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
  position: relative;
}

.default {
  font-size: 18px;
  font-weight: 400;
  align-self: flex-start;
}

.login-container h1 {
  font-weight: 300;
  font-size: 24px;
  margin-bottom: 1em;
  text-align: center;
}

.login-content > span:first-of-type {
  margin-bottom: 24px;
}

[data-to-first] i {
  pointer-events: none;
}

[data-html-restore] span {
  pointer-events: none;
}

.logged-container {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  margin-top: 40px;
  margin-bottom: calc(40px + 1em);
}

[data-to-first] {
  position: absolute;
  top: 16px;
  left: 16px;
  font-size: 32px;
  color: #181818;
}
.close {
  position: absolute;
  top: 0;
  right: -10px;
  width: 32px;
  height: 32px;
  display: flex;
  justify-content: flex-end;
  font-size: 24px;
  background-color: transparent;
  display: none;
}

.close i {
  pointer-events: none;
}

.account-logged {
  position: relative;
  width: 128px;
  height: 128px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 64px;
  background-color: var(--bg-primary);
  border: 2px solid var(--color-primary);
  font-size: 64px;
}

.account-logged.active {
  position: absolute;
  top: -64px;
}

.account-logged:hover > .close {
  display: flex;
}


.account-logged span {
  font-weight: 200;
  color: var(--color-primary);
}


.account-logged span:nth-child(2) {
  pointer-events: none;
}

.msg {
  --arrow: transparent;
  padding: 1em;
  border-radius: var(--radius-normal);
  position: absolute;
  top: 0;
  left: 530px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);  
}

.msg span {
  font-weight: 600;
  white-space: nowrap;
}

.msg::after {
  content: '';
  display: block;
  width: 0;
  height: 0;
  border: 8px solid transparent;
  border-top-color: var(--arrow);
  position: absolute;
  top: 0;
  left: -8px;
}

.warning {
  --arrow: var(--color-warning);
  background-color: var(--color-warning);
  color: var(--text-color-warning)!important;
}

.error {
  --arrow: var(--color-error);
  background-color: var(--color-error);
  color: var(--text-color-error);
}

.loading {
  width: 32px;
  height: 32px;
  display: block;
  box-shadow: inset 0 0 0 4px #ffffff20;
  border-radius: 32px;
  position: relative;
  animation: rotate 1000ms linear infinite;
}

.loading::after {
  content: '';
  width: 32px;
  height: 32px;
  border-radius: 32px;
  background: none;
  display: block;
  border: 4px solid transparent;
  border-top-color: #ffffff65;
}

.success {
  position: absolute;
  background-color: #50c878;
  color: #0a6950;
  padding: 1em;
  transform: translateY(0);
  border-radius: var(--radius-normal) var(--radius-normal) 0 0;
  box-shadow: inset 0 -4px 8px -4px rgba(0, 0, 0, 0.4);
  animation: in 1000ms cubic-bezier(0.445, 0.05, 0.55, 0.95) forwards, out 500ms 2500ms linear forwards;
}

.success span {
  font-weight: 600;
}

.checkbox {
  padding: 1em 0;
  display: block;
}

.checkbox input {
  display: none;
}

.checkbox .checkbox-title {
  font-size: 14px;
  display: flex;
  align-items: center;
  position: relative;
  cursor: pointer;
}

.checkbox .checkbox-title::before {
  content: '';
  width: 14px;
  height: 14px;
  border-radius: 3px;
  display: block;
  margin-right: 4px;
  border: 2px solid var(--color-border);
}

.checkbox .checkbox-title:hover::before {
  border-color: #aaa;
}

.checkbox .checkbox-title::after {
  content: '';
  width: 9px;
  height: 5px;
  border-left: 2px solid var(--bg-primary);
  border-bottom: 2px solid var(--bg-primary);
  transform: rotate(-45deg) translate3d(3px, 1px, 0);
  position: absolute;
  left: 0;
  display: none;
}

.checkbox input:checked ~ .checkbox-title::after {
  display: block;
}

.checkbox input:checked ~ .checkbox-title::before {
  border-color: transparent;
  background-color: var(--color-primary);
}

.logeddin {
  position: fixed;
  top: 50px;
  left: 50px;

  z-index: 9999;
}

.logeddin-btn {
  width: 64px;
  height: 64px;
  border-radius: 64px;
  display: block;
  color: #fff;
  font-size: 32px;
  font-weight: 200!important;
  position: relative;
}

.logeddin-btn::after {
  display: inline-block;
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  pointer-events: none;
  box-sizing: border-box;
  background-image: linear-gradient(312deg,#8e9eab,#eef2f3 100%);
  -webkit-clip-path: url(#class11-clip);
  clip-path: url(#class11-clip);
}

.logeddin-btn:hover > .close-logeddin {
  display: flex;
}

.close-logeddin {
  width: 32px;
  height: 32px;
  display: none;
  align-items: flex-start;
  justify-content: flex-end;
  position: absolute;
  top: -10px;
  right: -10px;
  font-size: 18px;
}

.carrousel {
  flex: 1;
  display: flex;
}

@keyframes rotate {
  to {
    transform: rotate(360deg);
  }
}

@keyframes in {
  to { transform: translateY(-40px) }
}

@keyframes out {
  to { transform:  translateY(0) }
}