@import url('../fonts/fonts.css');

.preloader {
  width: 100vw;
  height: 100vh;
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #713bdb;
  z-index: 99999;
}

.preloader svg {
  position: absolute;
  top: 28%;
  transform: scale(1);
  animation: pulse 1500ms linear infinite;
}

.loader {
  display: inline-block;
  width: 16px;
  height: 16px;
  border: 2px solid #fff;
  animation: loader 2000ms ease infinite;
}

.loader-inner {
  vertical-align: top;
  display: inline-block;
  background-color: #fff;
  width: 100%;
  animation: loader-inner 2000ms ease-in infinite;
}

@keyframes pulse {
  0%, 100% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.1);
  }
}

@keyframes loader {
  0% {
    transform: rotate(0deg);
  }
  25%, 50% {
    transform: rotate(180deg);
  }
  75%, 100% {
    transform: rotate(360deg);
  }
}
@keyframes loader-inner {
  0%, 100% {
    height: 0%;
  }
  25%, 50%, 75% {
    height: 100%;
  }
}

@keyframes preloader_v2 {
  to {
    width: 100%;
  }
}

@keyframes preloader {
  0%, 100% {
    opacity: 0.3;
    transform: translateY(-10px);
  }
  50% {
    opacity: 1;
    transform: translateY(10px);
  }
}