<div class="main_list">
  <div class="main_list-header">
    <div>
      <h1 class="main_list-title">Historico de vendas</h1>
      <span class="main_list-sub">0 caixas</span>
    </div>
  </div>
  <div class="main_list-container">
    <div class="history-container">
      <div class="history-header">
        <div class="history-header__title">
          <i class='bx bx-calendar-alt'></i>
          <h1>389b0a9a - 31 Mar | <span>Aberto</span></h1>
        </div>
        <div class="history-header__info">
          <i class='bx bx-devices' ></i>
          <span>17 Dispositivos</span>
        </div>
        <div class="history-header__info">
          <i class='bx bx-user' ></i>
          <span>17 Clientes</span>
        </div>
        <div class="history-header__info">
          <span class="small">$</span>
          <span>265,00</span>
        </div>
        <button class="btn-default"></button>
      </div>
      <div class="history-content">
        <div class="self-data">
          <div class="analysis-box">
            <div class="analysis-icon device">
              <i class="bx bx-devices"></i>
            </div>
            <div class="analysis-container">
              <h3>Dispositivos</h3>
              <div class="analysis-content">
                <span>Total: <strong>17</strong> c</span>
                <span><strong>10</strong> l <strong class="analysis-percent win">(0,3%) <i class='bx bxs-plus-circle' ></i></strong></span>
              </div>
            </div>
          </div>
          <div class="analysis-box">
            <div class="analysis-icon client">
              <i class="bx bx-user"></i>
            </div>
            <div class="analysis-container">
              <h3>Clientes</h3>
              <div class="analysis-content">
                <span>Total: <strong>1</strong> c</span>
                <span><strong>5</strong> l <strong class="analysis-percent low">(-0,4%) <i class='bx bxs-minus-circle' ></i></strong></span>
              </div>
            </div>
          </div>
          <div class="analysis-box">
            <div class="analysis-icon income">
              <i class='bx bx-dollar'></i>
            </div>
            <div class="analysis-container">
              <h3>Renda</h3>
              <div class="analysis-content">
                <span>Total: <strong>265,00</strong> c</span>
                <span><strong>30,32</strong> l <strong class="analysis-percent win">(2,3%) <i class='bx bxs-plus-circle' ></i></strong></span>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="history-container open">
      <div class="history-header">
        <div class="history-header__title">
          <i class='bx bx-calendar-alt'></i>
          <h1>389b0a9a - 31 Mar | <span>Fechado</span></h1>
        </div>
        <div class="history-header__info">
          <i class='bx bx-devices' ></i>
          <span>17 Dispositivos</span>
        </div>
        <div class="history-header__info">
          <i class='bx bx-user' ></i>
          <span>17 Clientes</span>
        </div>
        <div class="history-header__info">
          <span class="small">$</span>
          <span>265,00</span>
        </div>
        <button class="btn-default"></button>
      </div>
      <div class="history-content">
        <div class="self-data">
          <div class="analysis-box">
            <div class="analysis-icon device">
              <i class="bx bxs-devices"></i>
            </div>
            <div class="analysis-container">
              <h3>Dispositivos</h3>
              <div class="analysis-content">
                <span>Total: <strong>17</strong> c</span>
                <span><strong>10</strong> l <strong class="analysis-percent win">(0,3%) <i class='bx bxs-plus-circle' ></i></strong></span>
              </div>
            </div>
          </div>
          <div class="analysis-box">
            <div class="analysis-icon client">
              <i class="bx bx-user"></i>
            </div>
            <div class="analysis-container">
              <h3>Clientes</h3>
              <div class="analysis-content">
                <span>Total: <strong>1</strong> c</span>
                <span><strong>5</strong> l <strong class="analysis-percent low">(-0,4%) <i class='bx bxs-minus-circle' ></i></strong></span>
              </div>
            </div>
          </div>
          <div class="analysis-box">
            <div class="analysis-icon income">
              <i class='bx bx-dollar'></i>
            </div>
            <div class="analysis-container">
              <h3>Renda</h3>
              <div class="analysis-content">
                <span>Total: <strong>265,00</strong> c</span>
                <span><strong>30,32</strong> l <strong class="analysis-percent win">(2,3%) <i class='bx bxs-plus-circle' ></i></strong></span>
              </div>
            </div>
          </div>
        </div>
        <div class="history-data">
          <div class="data">
            <div class="data-container">
              <div class="data-header">
                <span>
                  <i class="bx bx-user"></i>
                  Cliente Teste
                </span>
                <span data-count="3">
                  <i class="bx bx-dollar"></i>
                  150,55
                </span>
                <span class="untreading">
                  <i class="bx bxs-plus-circle"></i>
                  0,10%
                  <i class='bx bx-bar-chart'></i>
                </span>
              </div>
            </div>
            <div class="data-container">
              <div class="data-header">
                <span>
                  <i class="bx bx-devices"></i>
                  Device Teste
                </span>
                <span data-count="3">
                  <i class="bx bx-dollar"></i>
                  150,55
                </span>
                <span class="untreading">
                  <i class="bx bxs-plus-circle"></i>
                  0,10%
                  <i class='bx bx-bar-chart'></i>
                </span>
              </div>
              <ul class="data-content">
                <li>
                  <span><i class='bx bx-chevron-right'></i> Device 01</span>
                  <span>Client: Test 01</span>
                </li>
                <li>
                  <span><i class='bx bx-chevron-right'></i> Device 01</span>
                  <span>Client: Test 01</span>
                </li>
                <li>
                  <span><i class='bx bx-chevron-right'></i> Device 01</span>
                  <span>Client: Test 01</span>
                </li>
                <li>
                  <span><i class='bx bx-chevron-right'></i> Device 01</span>
                  <span>Client: Test 01</span>
                </li>
                <li>
                  <span><i class='bx bx-chevron-right'></i> Device 01</span>
                  <span>Client: Test 01</span>
                </li>
                <li>
                  <span><i class='bx bx-chevron-right'></i> Device 01</span>
                  <span>Client: Test 01</span>
                </li>
              </ul>
            </div>
          </div>
          <div class="uptrend">
            <div class="uptrend-title">
              <h3>Técnico</h3>
              <span>Alto indice</span>
            </div>
            <div class="uptrend-level win">
              <span>33,5%</span>
              <i class='bx bx-trending-up' ></i>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>