<div class="main_list">
  <div class="main_list-header">
    <div>
      <h1 class="main_list-title">Historico de vendas</h1>
      <span class="main_list-sub">0 caixas</span>
    </div>
  </div>
  <div class="main_list-container">
    <div class="history-container">
      <div class="history-header">
        <span>Data</span>
        <span>Status</span>
        <span>Quantidade</span>
        <span>Lucro</span>
        <span>Opt</span>
      </div>
      <div class="history-content open">
        <span>----</span>
        <span class="open">Aberto</span>
        <span>150</span>
        <span>R$ 1,500.00</span>
        <button class="close-history">
          <i class='bx bxs-lock-open-alt'></i>
        </button>
      </div>
      <div class="history-content closed">
        <span>31/10/2021</span>
        <span class="closed">Fechado</span>
        <span>150</span>
        <span>R$ 1,500.00</span>
        <button class="close-history">
          <i class='bx bxs-lock-alt'></i>
        </button>
      </div>
    </div>
  </div>
</div>