<div class="main_list">
  <h1 class="main_list-title">Todos os produtos</h1>
  <span class="main_list-sub">4 produtos</span>
  <div class="main_list-container">
    <div class="main_list-container-block progress" data-status="em progresso">
      <div class="main_list-container--header">
        <span></span>
        <span>Updated</span>
        <span>Status</span>
        <span>Client</span>
        <span>Assignee</span>
        <span>opt</span>
      </div>
      <div class="main_list-container--box">
        <span>Samsung A10</span>
        <span data-text="Mar 26 2021 15:00">Mar 26</span>
        <button class="status">
          <span class="status-icon progress"></span>
        </button>
        <span data-text="Name completo amostra">Client 00</span>
        <span data-text="Name completo amostra">Assignee 00</span>
        <button class="options">
          <i class='bx bx-dots-horizontal-rounded'></i>
        </button>
      </div>
      <div class="main_list-container--box">
        <span>Samsung A10</span>
        <span data-text="Mar 26 2021 15:00">Mar 26</span>
        <button class="status">
          <span class="status-icon progress"></span>
        </button>
        <span data-text="Name completo amostra">Client 00</span>
        <span data-text="Name completo amostra">Assignee 00</span>
        <button class="options">
          <i class='bx bx-dots-horizontal-rounded'></i>
        </button>
      </div>
    </div>
    <div class="main_list-container-block awaiting" data-status="aguardando">
      <div class="main_list-container--header">
        <span></span>
        <span>Updated</span>
        <span>Status</span>
        <span>Client</span>
        <span>Assignee</span>
        <span>opt</span>
      </div>
      <div class="main_list-container--box">
        <span>Samsung A10</span>
        <span data-text="Mar 26 2021 15:00">Mar 26</span>
        <button class="status">
          <span class="status-icon awaiting"></span>
        </button>
        <span data-text="Name completo amostra">Client 00</span>
        <span data-text="Name completo amostra">Assignee 00</span>
        <button class="options">
          <i class='bx bx-dots-horizontal-rounded'></i>
        </button>
      </div>
    </div>
    <div class="main_list-container-block delivered" data-status="entregue">
      <div class="main_list-container--header">
        <span></span>
        <span>Updated</span>
        <span>Status</span>
        <span>Client</span>
        <span>Assignee</span>
        <span>opt</span>
      </div>
      <div class="main_list-container--box">
        <span>Samsung A10</span>
        <span data-text="Mar 26 2021 15:00">Mar 26</span>
        <button class="status">
          <span class="status-icon delivered"></span>
        </button>
        <span data-text="Name completo amostra">Client 00</span>
        <span data-text="Name completo amostra">Assignee 00</span>
        <button class="options">
          <i class='bx bx-dots-horizontal-rounded'></i>
        </button>
      </div>
    </div>
  </div>
</div>