<template data-main-template>
  <div class="main_info-top--box">
    <div class="box-icon" data-main-box>
      <i class='bx bx-user' data-main-icon></i>
    </div>
    <div class="box-content">
      <strong data-main-name>Clientes</strong>
      <span data-main-value>2.41K <i class='bx bx-up-arrow-alt'></i></span>
    </div>
  </div>
  <div class="main_info-top--amount">
    <h2>Renda total: </h2>
    <div class="amount-contrast">
      <h1 data-main-amount>24,447</h1>
      <span class="badge">
        <i class="bx bx-up-arrow-alt"></i>
        <span>11%</span>
      </span>
    </div>
    <div class="amount-progress">
      <span data-main-amount-percent class="total-amount"></span>
    </div>
    <div class="amount-progress-help">
      <span>Renda</span>
      <span>Despesas</span>
    </div>
  </div>
</template>
<div class="main_list">
  <section class="main_info-top"></section>
  <canvas id="myChart" height="100"></canvas>
</div>